---
layout: page.njk
title: Tags
description: My website tags
permalink: "/tags/"
---

<ul class="t">
  {% for tag in collections.tagList %}
    <li>
      <a href="{{ tag | slugify }}">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>
