/* ==========================================================================
   Pagination
   ========================================================================== */

.pp {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-lg);
  margin-block: var(--space-xl);
}
