<div class="pl">
  {%- for post in postList -%}
    <ul>
      <li>
        <article>
          {% if dates %}
            <span class="plm pm">
              {% set date = post.data.date %}
              {% set lastModified = post.data.lastModified %}
              {% include "partials/postMeta.njk" %}
            </span>
          {% endif %}

          {% if post.data.canonical %}
            <a href="{{ post.data.canonical }}" target="_blank" rel="external noopener">
              <h3 class="plt ext">{{ post.data.title | escape }}</h3>
            </a>
          {% else %}
            <a href="{{ post.url }}">
              <h3 class="plt">{{ post.data.title | escape }}</h3>
            </a>
          {% endif %}

          {% if excerpts %}
            <p class="ple">{{ post.data.description }}</p>
          {% endif %}
        </article>
      </li>
    </ul>
  {%- endfor -%}
</div>


